<!-- templates/playlists_new.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/playlists'>
    <fieldset>
        <legend>New Playlist</legend>
        <!-- TITLE -->
        <p>
            <label for='title'>Title</label><br>
            <input type='text' name='title' />
        </p>
    
        <!-- DESCRIPTION -->
        <p>
            <label for='description'>Description</label><br>
            <input type='text' name='description' />
        </p>
        
        <!-- VIDEO LINKS -->
        <p>
            <label for='playlist-videos'>Videos</label><br>
            <p>Add videos in the form of 'https://youtube.com/embed/KEY'. Separate with a newline.</p>
            <textarea id='playlist-videos' name='videos' rows='10'></textarea>
        </p>
    </fieldset>
    
    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Playlist</button>
    </p>
</form>
{% endblock %}