<!-- templates/playlists_show.html -->
{% extends 'base.html' %}

{% block content %}
<button><a href='/'>Back to Home</a></button>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{ playlist.title }}</h1>
        <small>{{ playlist.ratings }}</small>
        <h2>{{ playlist.description }}</h2>
        {% for video in playlist.videos %}
        <div class="card">
            <div class="card-body">
                <iframe width="420" height="315" src="{{ video }}"></iframe>
            </div>
        </div>
        {% endfor %}
        <button class='btn btn-primary'><a style="color:white" href='/playlists/{{ playlist._id }}/edit'>Edit</a></button>
        <hr>
        <!-- Comment form -->
        {% include 'partials/comment_form.html' %}
        <hr>
        <!-- Show Comments -->
        {% for comment in comments %}
            {% include 'partials/comment.html' %}
        {% endfor %}

    </div>
</div>
{% endblock %}